*{
    margin: 0px;
    padding: 0px;
    text-align: center;
    background-color: lightslategrey;
}
h1{
    background-color: rgb(1, 1, 43);
    color: aliceblue;
    line-height: 4rem;
}

.choice:hover{
    background-color: black;
    border-radius: 50%;
    cursor: pointer;
}

.choice{
    height: 165px;
    width: 165px;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 100px;
    margin-bottom: 100px;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-size: 2rem;
    font-weight: bold;
}

#user-score,
#comp-score{
    font-size: 4rem;
}

/* .msg-container{
    font-size: 2rem;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: rgb(1, 1, 43);
    color: aliceblue;
    display: inline-block;
    border-radius: 1rem;
    height: 3rem;
    width: 10rem;
    text-align: center;
} */

.msg-container {
  margin-top: 5rem;
}
#msg {
  background-color: #081b31;
  color: #fff;
  font-size: 2rem;
  display: inline;
  padding: 1rem;
  border-radius: 1rem;
}
